
    <%
meta title: "MOOCS",
     description: "massive open online classes resources to learn to code",
     keywords: %w(moocs MOOCS code-and-learn)
%>
    <div class="getting-started-content ">
        <h1>MOOCs</h1>
        <p>MOOCs -- the abbreviation of Massive Open Online Courses --  ipsum dolor sit amet, consectetur adipisicing elit. Eum aperiam doloribus, est quisquam enim sapiente, omnis ipsa porro facilis rem placeat itaque eos, corporis dolor deleniti dolorum libero error explicabo.</p>
        <p>Refer to <a href="https://www.class-central.com/">Class Central</a> for a comprehensive list of courses</p>
    </div>
    
    



<div class="getting-started-content">
    
    <!--Free Courses-->
<section id="getting-started-template">
    <h4>Free Courses</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, saepe ipsa corporis, obcaecati tenetur ratione dicta doloremque commodi inventore dolores pariatur non. Architecto id laborum vero necessitatibus, tempora odit eos. Also take a look at <a href="https://qz.com/1120344/200-universities-just-launched-600-free-online-courses-heres-the-full-list/">600+ Courses</a></p>
    
    <div class="resources">
        <ul>
            <li><a href="https://ocw.mit.edu/index.htm">MIT OpenCourseWare</a></li>
            <li><a href="https://www.edx.org/">Edx</a></li>
            <li><a href="https://www.coursera.org/">Coursera</a></li>
            <li><a href="https://www.khanacademy.org/computing/computer-programming">Khan Academy</a></li>
            <li><a href="https://www.udacity.com/course/intro-to-computer-science--cs101">Udacity</a></li>
           
        </ul>
        <p>Special mention to <a href="https://www.udemy.com/">Udemy</a> who's courses are often $10 and <a href="https://www.real.discount/">real discount</a> provide free coupons for Udemy.</p>
    </div>
</section>

<!--Interactive Coding Sites-->
<section id="getting-started-template">
    <h4>Interactive Coding Sites</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, saepe ipsa corporis, obcaecati tenetur ratione dicta doloremque commodi inventore dolores pariatur non. Architecto id laborum vero necessitatibus, tempora odit eos.</p>
    
    <div class="resources">
        <ul>
            <li><a href="https://www.codecademy.com/">Code Academy</a></li>
            <li><a href="https://www.codeschool.com/">Code School</a></li>
            <li><a href="https://www.freecodecamp.org/">Free Code Camp</a></li>
            <li><a href="https://www.datacamp.com/">Data Camp</a></li>
            <li><a href="https://www.dataquest.io/">Data Quest</a></li>
            
        </ul>
    </div>
</section>









</div>

