 
<div class="jumbotron">
  <div class="background">  <%= video_tag "Aloha-Mundo/MP4/Aloha-Mundo.mp4" %></div>


  <h1>Code and Learn</h1>
  <p>a curated resources for beginners</p>
  <p>
      <%= link_to 'Getting Started', getting_started_getting_started_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
    <div class="grid-container">
        <div class="grid-content">
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          <div class="grid-item"></div>
          
        </div>
    </div>