<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>Resources for kids</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>jdhjhwjhwejdhewdyewudhwhdfewjhdwehdwkhdwkehk Eum aperiam doloribus, est quisquam enim sapiente, omnis ipsa porro facilis rem placeat itaque eos, corporis dolor deleniti dolorum libero error explicabo.</p>
    </div>

</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">

    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://scratch.mit.edu/">Scratch - MIT</a></li>
             <li><a href="https://code.org/learn">CodeOrg Hour of Code</a></li>
            <li><a href="https://www.tynker.com/hour-of-code/">Tynker Hour of Code</a></li>
            <li><a href="http://partners.disney.com/hour-of-code">Disney Hour of Code </a></li>
            <li><a href="https://www.raspberrypi.org/resources/">Rasberry Pi</a></li>
            <li><a href="https://www.techrocket.com/coding">TechRocket Coding</a></li>
            <li><a href="http://www.crunchzilla.com/code-monster">Code Monster</a></li>>
        </ul>
    </div>
</div>
</div>
</div>
