<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>Resources for kids</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>Welcome to the Kids Code page, this is where you can find resources that can help kids learn to code the fun way. Most of these resources are interactive and visual 
        so kids can see and learn as they type their first lines of code. Don't worry if they don't know anything about coding yet, all these resources are for absolute beginners.</p>
    </div>

</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">

    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://scratch.mit.edu/">Scratch - MIT</a></li>
             <li><a href="https://code.org/learn">CodeOrg Hour of Code</a></li>
            <li><a href="https://www.tynker.com/hour-of-code/">Tynker Hour of Code</a></li>
            <li><a href="http://partners.disney.com/hour-of-code">Disney Hour of Code </a></li>
            <li><a href="https://www.raspberrypi.org/resources/">Rasberry Pi</a></li>
            <li><a href="https://www.techrocket.com/coding">TechRocket Coding</a></li>
            <li><a href="http://www.crunchzilla.com/code-monster">Code Monster</a></li>>
        </ul>
    </div>
</div>
</div>
</div>
