<%
meta title: "How To Contribute To The Project",
     description: "Code and Leearn contribution.",
     keywords: %w(code-and-learn, contribution)
%>
<div class="getting-started-jumbotron">
    <h1>How To Contribute To The Project</h1>
</div>
<div class="getting-started-content">
<p>
Thank you for visiting this page! Please take a look this <a href="https://github.com/Nguyen17/CodeandLearn/blob/master/CONTRIBUTING.md">CONTRIBUTING</a> file in the site github page for more info.
</p>




</div>

