<div class="getting-started-jumbotron">
    <h1>How To Contribute To The Project</h1>
</div>
<div class="getting-started-content">
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique debitis necessitatibus dicta atque, optio suscipit error magni distinctio sunt nesciunt fugit incidunt asperiores nostrum vitae cumque esse est obcaecati culpa.
</p>


<!--IDE-->
<section id="getting-started-template">
    <h1>Check</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, saepe ipsa corporis, obcaecati tenetur ratione dicta doloremque commodi inventore dolores pariatur non. Architecto id laborum vero necessitatibus, tempora odit eos.</p>
    <p>Refer to <a href="https://stackify.com/top-integrated-developer-environments-ides/">this list</a> for more editors and IDEs</p>
    

</section>

<!--Command Line Section-->
<section id="getting-started-template">
    <h1>Adding Resources</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, saepe ipsa corporis, obcaecati tenetur ratione dicta doloremque commodi inventore dolores pariatur non. Architecto id laborum vero necessitatibus, tempora odit eos.</p>
    

</section>


</div>

