<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>Coding Challenges</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum aperiam doloribus, est quisquam enim sapiente, omnis ipsa porro facilis rem placeat itaque eos, corporis dolor deleniti dolorum libero error explicabo.</p>
    </div>
    


</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://leetcode.com/">LeetCode</a></li>
            <li><a href="https://www.hackerearth.com/challenges/">Hacker Earth</a></li>
            <li><a href="https://www.hackerrank.com/">Hacker Rank</a></li>
            <li><a href="http://www.codeabbey.com/">Code Abbey</a></li>
            <li><a href="http://brackets.io/">Link 4</a></li>
            <li><a href="https://www.jetbrains.com/products.html?fromMenu">Link 5</a></li>
        </ul>
    </div>
</div>
</div>
</div>
