<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>Coding Challenges</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>Welcome to the 'Coding Challenges' page! This page is recommended only if you have a good understanding of the basics of any programming language such as declarations, assignments, loops, and conditionals. These resources will provide challenges that can be solved using code and is a great way to test your knowledge. Whether you are looking for a challenge, preparing for an interview, or simply having fun there is a something here for everyone.</p>
    </div>
    


</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://leetcode.com/">LeetCode</a></li>
            <li><a href="https://www.hackerearth.com/challenges/">Hacker Earth</a></li>
            <li><a href="https://www.hackerrank.com/">Hacker Rank</a></li>
            <li><a href="https://projecteuler.net/">Project Euler</a></li>
            <li><a href="http://www.codeabbey.com/">Code Abbey</a></li>
            <li><a href="http://exercism.io/">Exercism</a></li>
            <li><a href="https://www.codechef.com/">Code Chef</a></li>
            <li><a href="https://checkio.org/">Checkio</a></li>
            <li><a href="http://www.spoj.com/">Sphere Online Judge</a></li>
            <li><a href="https://www.topcoder.com/challenges/?pageIndex=1">Top Coder</a></li>
            <li><a href="https://codefights.com/">Codefights</a></li>
            <li><a href="https://www.codewars.com/">Code Wars</a></li>
            <li><a href="https://www.firecode.io/">Firecode</a></li>
            <li><a href="https://coderbyte.com/challenges">Coderbtye</a></li>
            <li><a href="https://www.codingame.com/start">Coding game</a></li>
            <li><a href="https://www.codeeval.com/">Code Eval</a></li>
        </ul>
    </div>
</div>
</div>
</div>
