<%
meta title: "C / C++",
     description: "learn more about c and c++",
     keywords: %w(c c++ cpp coding code-and-learn)
%>
<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>C / C++</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>C and C++ are general-purpose languages, with C++ being a newer and expanded version of the original C. With a good balance of machine-level access and abstraction tools, C and C++ are used when performance and hardware utilization is important, such as operating systems, and video games.</p>
    </div>
    
    <h1>Documentations</h1>
<div class="resources-links">
   
        <div class="resources">
        <ul>
            <li><a href="http://www.cplusplus.com/doc/tutorial/">Cplus Doc</a></li>
            <li><a href="http://devdocs.io/cpp/">C++ Programming Language</a></li>
            <li><a href="http://en.cppreference.com/w/">C Reference</a></li>
        </ul>
    </div>
</div>

</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">
     <h1>Resource Links</h1>
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://www.learn-cpp.org/">Learn Cpp</a></li>
            <li><a href="https://www.programiz.com/c-programming">Learn C Programming</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PL1D10C030FDCE7CE0">C++ Tutorial - Absolute Noob</a></li>
            <li><a href="https://www.sololearn.com/Course/CPlusPlus/">Cpp - Sololearn</a></li>
            <li><a href="https://www.codesdope.com/cpp-introduction/">Cpp Introduction - Code Dope</a></li>
            
        </ul>
    </div>
</div>
</div>
</div>
