<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="getting-started-jumbotron ">
    <h1>Html & CSS</h1>
</div>
<div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
            <li><a href="https://atom.io/">Atom</a></li>
            <li><a href="https://www.sublimetext.com/">Sublime Text 3</a></li>
            <li><a href="http://brackets.io/">Brackets</a></li>
            <li><a href="https://www.jetbrains.com/products.html?fromMenu">Jet Brains</a></li>
        </ul>
    </div>
</div>

</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://code.visualstudio.com/">Link 1</a></li>
            <li><a href="https://atom.io/">Link 2</a></li>
            <li><a href="https://www.sublimetext.com/">Link 3</a></li>
            <li><a href="http://brackets.io/">Link 4</a></li>
            <li><a href="https://www.jetbrains.com/products.html?fromMenu">Link 5</a></li>
        </ul>
    </div>
</div>
</div>
</div>