<%
meta title: "HTML and CSS",
     description: "My description",
     keywords: %w(HTML CSS web-basics)
%>
<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>HTML & CSS</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>Learn about HTML and CSS, the fundamental basics of the web.</p>
    </div>
    
    <h1>Documentations</h1>
<div class="resources-links">
   
        <div class="resources">
        <ul>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML - MDN</a></li>
            <li><a href="https://www.w3schools.com/tags/default.asp">HTML Reference</a></li>
            <li><a href="https://www.w3.org/TR/html5/">HTML - w3</a></li>
        </ul>
    </div>
</div>

</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">
     <h1>Resource Links</h1>
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://learn.shayhowe.com/html-css/">Learn HTML and CSS Shaw</a></li>
            <li><a href="https://www.theodinproject.com/home">The Odin Project</a></li>
            <li><a href="http://www.htmldog.com/">HTML Dog</a></li>
            <li><a href="https://github.com/diegocard/awesome-html5">Awesome HTML5</a></li>
            <li><a href="https://ilovecoding.org/courses/learn-html-css-in-14-days">Learn HTML and CSS in 14 days</a></li>
            <li><a href="http://fortuito.us/diveintohtml5/">Dive into HTML5</a></li>
            <li><a href="https://medium.freecodecamp.org/from-zero-to-front-end-hero-part-1-7d4f7f0bff02">From Zero to Front-end Hero</a></li>
            <li><a href="https://mozilladevelopers.github.io/playground/">Mozilla Playground</a></li>
            
        </ul>
    </div>
</div>
</div>
</div>