<%
meta title: "JavaScript",
     description: "Learn about JavaScript",
     keywords: %w(JavaScript javascript code-and-learn code-tutorial)
%>
<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>JavaScript</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>JavaScript is a language that is present everywhere on the web and is worth learning as web technologies advances</p>
        <p>Also there are many frameworks each with their own advantages. Please take a look at this <a href="https://github.com/collections/front-end-javascript-frameworks">Github Collection</a> to explore the different types out there.</p>
    </div>
    
    <h1>Documentations</h1>
<div class="resources-links">
   
        <div class="resources">
        <ul>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference">JavaScript Reference</a></li>
            <li><a href="https://docs.microsoft.com/en-us/scripting/javascript/javascript-language-reference">JavaScript Language Reference</a></li>
            <li><a href="https://www.w3schools.com/jsref/">JavaScript and HTML DOM Reference</a></li>
            <li><a href="http://devdocs.io/javascript/">JavaScript - DevDocs</a></li>
        </ul>
    </div>
</div>

</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">
     <h1>Resource Links</h1>
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="http://eloquentjavascript.net/">Eloquent JavaScript</a></li>
            <li><a href="https://github.com/getify/You-Dont-Know-JS">You Don't Know JS</a></li>
            <li><a href="http://learn-js.org/">Learn JS </a></li>
            <li><a href="https://www.javascript.com/try">Try JavaScript</a></li>
            <li><a href="https://www.codecademy.com/tracks/javascript">CodeAcademy JavaScript</a></li>
            <li><a href="http://www.htmldog.com/guides/javascript/">JavaScript HTMLDog</a></li>
            <li><a href="http://javascriptissexy.com/how-to-learn-javascript-properly/">JavaScript is Sexy</a></li>
            <li><a href="http://bonsaiden.github.io/JavaScript-Garden/">JavaScript Garden</a></li>
            <li><a href="http://learn.knockoutjs.com/#/?tutorial=intro">JavaScript Knockout</a></li>
            <li><a href="https://javascript30.com/">Javascript 30 Days Challenge</a></li>
        </ul>
    </div>
</div>
</div>
</div>