<%
meta title: "Python",
     description: "Learn about Python",
     keywords: %w(Python python code-tutorial code-and-learn)
%>
<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>Python</h1>
    </div>
    
    <div class="getting-started-content ">
        <p> Welcome to the Python Programming Language page. New users will learn how to start coding in Python and explore the different uses of this language. Users will learn what software they need to get started and will be able to begin coding in minutes. Python is a general purpose programming language meanging that users will be able to accomplish various tasks such as web-design, information security, and app development.</p>
    </div>
    
    <h1>Documentations</h1>
<div class="resources-links">
   
        <div class="resources">
        <ul>
            <li><a href="https://www.python.org/doc/">Python Doc</a></li>
           
        </ul>
    </div>
</div>

</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">
     <h1>Resource Links</h1>
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="http://docs.python-guide.org/en/latest/intro/learning/">Hitchhiker's Guide to Python</a></li>
            <li><a href="https://www.learnpython.org/">Learn Python</a></li>
            <li><a href="https://automatetheboringstuff.com/">Automate the Boring Stuff</a></li>
            <li><a href="https://snakify.org/">Interactive Python 3</a></li>
            <li><a href="https://notebooks.azure.com/Microsoft/libraries/samples/html/Introduction%20to%20Python.ipynb">Python Microsoft Azure</a></li>
            <li><a href="http://www.diveintopython3.net/">Dive Into Python</a></li>
            <li><a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">How to Think like a Computer Scientist</a></li>
            <li><a href="http://greenteapress.com/wp/think-python/">Think Python</a></li>
            <li><a href="https://wiki.python.org/moin/BeginnersGuide">Python Beginner Guide</a></li>
            <li><a href="https://www.guru99.com/python-tutorials.html">Python Tutorials - Guru</a></li>
            
        </ul>
    </div>
</div>
</div>
</div>
