<%
meta title: "Ruby",
     description: "Learn about ruby",
     keywords: %w(ruby ruby-tutorial code code-and-learn)
%>
<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>Ruby</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>Ruby is a great language to learn and is known for its conciseness. It also popular in web development with the framework Ruby on Rails </p>
    </div>
    
    <h1>Documentations</h1>
<div class="resources-links">
   
        <div class="resources">
        <ul>
            <li><a href="http://ruby-doc.org/">Ruby Doc</a></li>
            <li><a href="http://www.rubyist.net/~slagell/ruby/">Ruby User's Guide</a></li>
            <li><a href="http://ruby-doc.org/stdlib-2.4.2/">Ruby Standard Library</a></li>
         
        </ul>
    </div>
</div>

</div>

<!--Split View 2 - Right side-->
<div class="split-view-2">
     <h1>Resource Links</h1>
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="http://tryruby.org/levels/1/challenges/0">Try Ruby</a></li>
            <li><a href="http://rubylearning.com/satishtalim/tutorial.html">Ruby Learning</a></li>
            <li><a href="https://www.rubymonk.com/">Ruby Monk</a></li>
            <li><a href="https://www.learnrubyonline.org/">Learn Ruby</a></li>
            <li><a href="https://pine.fm/LearnToProgram/">Learn to Program</a></li>
            <li><a href="http://www.techotopia.com/index.php/Ruby_Essentials">Ruby Essentials</a></li>
            <li><a href="http://poignant.guide/book/">Poignant Guide to Ruby</a></li>
        </ul>
    </div>
</div>
</div>
</div>