/* General */
*{
    font-kerning: auto;
}


/* Main Layouts*/
.resources a{
    font-size: 22px !important;
}
.align-left{
    text-align: left;
}

video{
     width: 100%;
    height: auto;
    object-fit: cover;
  
}

.navbar{
    border-top: 10px solid #b2ebf2;
    padding: 20px;
}

.jumbotron{
    background-color: #00bcd4;
    
}

.btn-primary{
    background-color: #2C446E;
    outline: none;
    border: none;
}


/* Grid Layout*/
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.grid-content {
    
   display: grid;
   grid-template-columns: 500px 500px 500px;
   grid-gap: 10px;

}
.grid-item{

    width: 346px;
    height: 360px;
    margin-left: 10px;
    margin-top: 10px;
    
}
.grid-item a{
    font-family: 'Raleway';
    font-size: 2.625rem;
}



.grid-item svg:hover{
    opacity: 0.7;
}



