/* General */
*{
    font-kerning: auto;
}

li {
    list-style: none;
}

/* Main Layouts*/
.resources a{
    font-size: 22px !important;
}
.align-left{
    text-align: left;
}

video{
     width: 100%;
    height: auto;
    object-fit: cover;
  
}

.navbar{
    border-top: 10px solid #b2ebf2;
    // position: fixed;
    padding: 20px;
}

.jumbotron{
    background-color: #00bcd4;
    
}

.btn-primary{
    background-color: #2C446E;
    outline: none;
    border: none;
}


/* Grid Layout*/
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.grid-content {
    
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr; 
    // align-items: center;
    
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr, 1fr,1fr));
    // grid-template-columns: 500px 500px 500px;
    // grid-template-rows: 450px 450px 450px;
   grid-template-columns: 500px 500px 500px;
   grid-gap: 10px;

}
.grid-item{
    border: 2px solid;
    border-color: #757575;
    width: 346px;
    height: 360px;
    margin-left: 10px;
    margin-top: 10px;
    
}
.grid-item a{
    font-family: 'Raleway';
    font-size: 2.625rem;
}



