/* General */

video{
     width: 100%;
    height: auto;
    object-fit: cover;
  
}



/* Grid Layout*/
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.grid-content {
    
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr; 
    // align-items: center;
    
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr, 1fr,1fr));
    // grid-template-columns: 500px 500px 500px;
    // grid-template-rows: 450px 450px 450px;
   grid-template-columns: 500px 500px 500px;
   grid-gap: 10px;

}
.grid-item{
    width: 500px;
    height: 450px;
    background-color: green;
    margin-left: 10px;
    margin-top: 10px;
    
}