
/* Grid Layout*/
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.grid-content {
    
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr; 
    // align-items: center;
    
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr, 1fr,1fr));
    // grid-template-columns: 500px 500px 500px;
    // grid-template-rows: 450px 450px 450px;
   grid-template-columns: 400px 400px 400px;
   grid-gap: 10px;

}
.grid-item{
    width: 470px !important;
    height: 446px !important;
    // background-color: green;
    margin-left: 10px;
    margin-top: 10px;
    
}

.grid-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 4.226rem;
        
    }
}


/* Grid Item Background Color*/
.grid-item:nth-of-type(1){
    background-color: #E5D4ED;
}
.grid-item:nth-of-type(2){
    background-color: #6D72C3;
}
.grid-item:nth-of-type(3){
    background-color: #5941A9;
}
.grid-item:nth-of-type(4){
    background-color: #9DC0BC;
}
.grid-item:nth-of-type(5){
    background-color: #75DBCD;
}
.grid-item:nth-of-type(6){
    background-color: #5E4C5A;
}

@media only screen and (max-width: 500px) {
   .grid-content{
       display: flex !important;
       flex-direction: column;
   }
   .grid-item{
    width: 370px !important;
    height: 346px !important;

    
}

}

