
/* Grid Layout*/
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
   
}
.grid-content {
    
   display: grid;
   grid-template-columns: 300px 300px 300px !important;
   grid-gap: 10px;

}
.grid-item{
    width: 270px !important;
    height: 246px !important;

    margin-left: 10px;
    margin-top: 10px;
    
}

.grid-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 4.226rem;
        
    }
}
/* Grid Item Link*/
.grid-item a{
    color: #000;
}


@media only screen and (max-width: 500px) {
   .grid-content{
       display: flex !important;
       flex-direction: column;
   }
   .grid-item{
    width: 370px !important;
    height: 346px !important;

    
}

}

