// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Nav*/
.navbar{
    // background-color: #3FDBC6;

    
    width: 100%;
    background-color: #fff;
    padding: 40px;
    font-family: 'Raleway';
    border: none;
    z-index:999;

}
.navbar a{
    color: white;
}


/* Hero Content*/
.jumbotron{
    position: relative;
    margin: 40px;
    display: flex;
    flex-direction: column;
    height: 60vh; 
    justify-content: center;
    align-items: center;
  
    background-color: transparent;
}
.jumbotron h1{
    color: white;
    font-family: 'Raleway';
    
}
.jumbotron p {
    color: white;
    font-family: 'Nunito Sans';
}
.background{

 position: absolute;
  height:100%;
   width:100%;
    overflow: hidden;
    z-index: -999;
}

/* SVG Icon*/
.grid-item svg{
    height: 82px;
}

@media only screen and (max-width: 500px) {
     .background{
         display: none;
       
     } 
     .jumbotron{
           color: black;
         
         background-color: #249D94;
     }
}


