<%
meta title: "Getting Started",
     description: "As a beginner it can be fustrating when trying to learn to how to code. It is difficult to scout the web for resources that helps to set up the local environment to get things started.",
     keywords: %w(getting started, beginner, resources, code)
%>
<div class="getting-started-jumbotron">
    <h1>Getting Started</h1>
</div>
<div class="getting-started-content">
<p>
    As a beginner it can be fustrating when trying to learn to how to code. It is difficult to scout the web for resources that helps to set up the local environment to get things started. Thus, the objective of this site is to help beginners start off. Please take a look at these topic below as we believe they are highly helful to a beginner. It is important to learn how to "google"; this <a href="https://imgur.com/gallery/rNlQJuT">infographic</a> provides good tips on searching effectively. It is also important to learn how to navigate through the web; here are <a href="https://fossbytes.com/30-windows-browser-keyboard-shortcuts-for-chrome-firefox-edge/">shortcuts</a> to make browsing easier.
</p>
<p>For new programmers, Harvard's CS50 is highly recommended. Refer to their <a href="https://www.youtube.com/user/cs50tv">youtube channel</a> and <a href="https://cs50.harvard.edu/weeks">site</a></p>


<!--IDE-->
<section id="getting-started-template">
    <h1>Editors and IDE</h1>
    <p>The heart of coding starts with the editors and IDEs. These are specialized software that allows you to edit and create code. Just think of it like writing an essay, you are going to need 
    special software in order to create and read the document (like Microsoft Word), same goes for code. We have provided a list of editors to help get started so you can start writing code!</p>
    <p>Refer to <a href="https://stackify.com/top-integrated-developer-environments-ides/">this list</a> for more editors and IDEs</p>
    
    <div class="resources">
        <ul>
            <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
            <li><a href="https://atom.io/">Atom</a></li>
            <li><a href="https://www.sublimetext.com/">Sublime Text 3</a></li>
            <li><a href="http://brackets.io/">Brackets</a></li>
            <li><a href="https://www.jetbrains.com/products.html?fromMenu">Jet Brains</a></li>
            <li><a href="https://github.com/vim/vim">Vim</a></li>
            <li><a href="https://www.gnu.org/software/emacs/">Emacs</a></li>
        </ul>
    </div>
</section>

<!--Command Line Section-->
<section id="getting-started-template">
    <h1>Command Line</h1>
    <p>The command line is considered the back bone of coding. These commands are runned in a terminal (also called command prompt in Windows). This tells your computer what to do. They will usually 
        be used to give the computer instructions in order to make your code runnable (compile) and also run it.</p>
    
    <div class="resources">
        <ul>
            <li><a href="https://www.codecademy.com/learn/learn-the-command-line">Learn the command line</a></li>
            <li><a href="http://rik.smith-unna.com/command_line_bootcamp/?id=44v7ot92xc">Command line bootcamp</a></li>
            <li><a href="https://linuxjourney.com/lesson/the-shell">Linux journey - the shell</a></li>
            <li><a href="https://tutorial.djangogirls.org/en/intro_to_command_line/">Intro to command line</a></li>
            <li><a href="https://diyhacking.com/linux-commands-for-beginners/">Linux commands for beginners</a></li>
        </ul>
    </div>
</section>

<!--Setting Up Environment-->
<section id="getting-started-template">
    <h1>Setting up the Environment</h1>
    <p>Here users can download the software needed to begin programming in the language of their choice.</p>
    <h3>Windows</h3>
    <div class="resources">
        <ul>
            <li><a href="http://stephencoakley.com/2015/01/21/guide-setting-up-a-simple-c-development-environment-on-windows">C / C++ Development</a></li>
            
            <li><a href="http://www.ics.uci.edu/~pattis/common/handouts/pythoneclipsejava/python.html">Python</a></li>
                        <li><a href="https://www.java.com/en/download/help/download_options.xml">Java</a></li>
            <li><a href="https://www.ruby-lang.org/en/documentation/installation/">Ruby </a></li>

  
        </ul>
    </div>
    
    <h3>Mac</h3>
    <div class="resources">
        <ul>
                                <li><a href="https://www.python.org/downloads/mac-osx/">Python</a></li>
            <li><a href="https://www.java.com/en/download/help/download_options.xml">Java</a></li>
            <li><a href="https://www.codecademy.com/articles/ruby-setup">Ruby </a></li>
            <li><a href="https://www.cprogramming.com/xcode.html">C / C++ Development</a></li>

    
       
        </ul>
    </div>
</section>


<!--Git-->
<!--Command Line Section-->
<section id="getting-started-template">
    <h1>Git</h1>
    <p>Git is a version control system that used when multiple people are working on the same project. It allows people to make changes to the project without interfering with the changes made by other team members. Users can learn more about Git and how to use it through the links below.</p>
    
    <div class="resources">
        <ul>
            <li><a href="http://rogerdudler.github.io/git-guide/">Git Guide</a></li>
            <li><a href="https://try.github.io/levels/1/challenges/1">Try Git</a></li>
            <li><a href="http://ohshitgit.com/">Oh Shit Git!</a></li>
            <li><a href="https://learngitbranching.js.org/">Git Branching</a></li>
            <li><a href="https://guides.github.com/">Github Guide</a></li>
        </ul>
    </div>
</section>
</div>

