<%
meta title: "Helpful Links",
     description: "helpful sites to learn more about programming.",
     keywords: %w(helpful links code-tutorials)
%>
<div class="split-wrapper">
    
<!--Split View 1- Left side-->
<div class="split-view-1">
    <div class="resource-template">
        <h1>Helpful Links</h1>
    </div>
    
    <div class="getting-started-content ">
        <p>Below are good external links that provide additional resources and information for those who are looking to expand their learning.</p>
    </div>


<!--Split View 2 - Right side-->
<div class="split-view-2">
     <h1>Resource Links</h1>
    <!--Resouce links-->
    <div class="resources-links">
        <div class="resources">
        <ul>
            <li><a href="https://github.com/sindresorhus/awesome">Github Awesome Lists</a></li>
            <li><a href="http://programming-motherfucker.com/become.html">Programming Motherfucker</a></li>
            <li><a href="https://github.com/sdmg15/Best-websites-a-programmer-should-visit">Best websites a programmer should visit</a></li>
            <li><a href="https://www.learnenough.com/courses">Learn Enough</a></li>
            <li><a href="http://johnnylists.com/22-websites-to-teach-you-how-to-code/">22 websites that teach you how to code</a></li>
            <li><a href="https://github.com/bmorelli25/Become-A-Full-Stack-Web-Developer">Become a Full Stack Developer</a></li>
            <li><a href="http://blog.agupieware.com/2014/05/online-learning-bachelors-level.html">Bachelor's Level</a></li>
            <li><a href="https://github.com/ossu/computer-science">OSSU Computer Science</a></li>
            <li><a href="https://qz.com/1120344/200-universities-just-launched-600-free-online-courses-heres-the-full-list/">600+ Courses</a></li>

        </ul>
    </div>
</div>
</div>
    <h1>Reddit Subreddits</h1>
<div class="resources-links">
   
        <div class="resources">
        <ul>
            <li><a href="https://www.reddit.com/r/learnprogramming/">/r/learnprogramming</a></li>
            <li><a href="https://www.reddit.com/r/programming/">/r/programming</a></li>
            <li><a href="https://www.reddit.com/r/cscareerquestions/">/r/cscareerquestions</a></li>
            <li><a href="https://www.reddit.com/r/dailyprogrammer/">/r/dailyprogrammer</a></li>
            <li><a href="https://www.reddit.com/r/webdev/">/r/webdev</a></li>
            <li><a href="https://www.reddit.com/r/web_design">/r/web_design</a></li>
        </ul>
    </div>
    
     <h1>Youtube Channels</h1>
<div class="resources-links">
   
        <div class="resources">
        <ul>
            <li><a href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg">The Net Ninja</a></li>
            <li><a href="https://www.youtube.com/channel/UCwRXb5dUK4cvsHbx-rGzSgw">Derek Banas</a></li>
            <li><a href="https://www.youtube.com/user/thenewboston">TheNewBoston</a></li>
            <li><a href="https://www.youtube.com/user/Computerphile">Computerphile</a></li>
            <li><a href="https://www.youtube.com/user/LevelUpTuts">Level Up Tuts</a></li>
            <li><a href="https://www.youtube.com/channel/UCbNxlZZVmfP8n84ag-rGpMg">Carl Harold</a></li>
            <li><a href="https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA">Traversy Media</a></li>
            <li><a href="https://www.youtube.com/user/gotreehouse">Tree House</a></li>
            <li><a href="https://www.youtube.com/user/DevTipsForDesigners">Dev Tips</a></li>
            <li><a href="https://www.youtube.com/user/codingmath">Coding Math</a></li>
            <li><a href="https://www.youtube.com/channel/UCvjgXvBlbQiydffZU7m1_aw">Coding Train</a></li>
            <li><a href="https://www.youtube.com/user/ArtOfTheProblem/featured">Art of the Problem</a></li>
            <li><a href="https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q">Fun Fun Function</a></li>
            <li><a href="https://www.youtube.com/user/ProgrammingKnowledge">Programming Knowledge</a></li>
            <li><a href="https://www.youtube.com/channel/UCVTlvUkGslCV_h-nSAId8Sw">Learn Code Academy</a></li>
            <li><a href="https://www.youtube.com/user/sentdex">Sentdex</a></li>
            <li><a href="https://www.youtube.com/user/jsonmez">Simple Programmer</a></li>
            <li><a href="https://www.youtube.com/channel/UCWN3xxRkmTPmbKwht9FuE5A">Siraj Raval</a></li>
            <li><a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">Corey Shafer</a></li>
            <li><a href="https://www.youtube.com/channel/UCda_RJU9-xB0Hswcrjn4SKw">Jamie King</a></li>
            <li><a href="https://www.youtube.com/user/JakeDayWilliams/featured">Jake Day Williams</a></li>
            <li><a href="https://www.youtube.com/user/hussey17">Brad Hussey</a></li>
        </ul>
    </div>
</div>